!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Search Params Example
    %link{:rel => "stylesheet", :href => "/style.css"}

  %body
    %pre= @params
    %hr/

    = yield
